@model List<Schad_MVCInvoiceApp.Entitades.InvoiceDetail>


<table class="table">
    <tr>
        <th>CustomerName</th>
        <th>Qty</th>
        <th>Price</th>
        <th>TotalItbis</th>
        <th>SubTotal</th>
        <th>Total</th>

    </tr>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
<tr>
    <td>@Html.DisplayFor(itemM => item.ItemDescription)</td>
    <td>@Html.DisplayFor(itemM => item.Qty)</td>
    <td>@Html.DisplayFor(itemM => item.Price)</td>
    <td>@Html.DisplayFor(itemM => item.TotalItbis)</td>
    <td>@Html.DisplayFor(itemM => item.SubTotal)</td>
    <td>@Html.DisplayFor(itemM => item.Total)</td>


    @*<td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Borrar", "Eliminar", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>*@
</tr>
        }
    }
</table>